body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color: rgb(141, 255, 96);
    

}

.header {
    display: flex;
    background: rgb(15, 15, 15);
    padding: 30px;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgb(26, 26, 26);
}

.options {
    margin-bottom: 45px;
}

.weapon{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin: 15px;   
}

.weapon:hover{
    transform: scale(1.2);
    cursor: pointer;
    border-color: gold;
}

#rock {
    background: url("./images/rock.png");
}

#paper {
    background: url("./images/papers.jpeg");
}

#scissors {
    background: url("./images/scissors.png");
}

#rock, #paper, #scissors {
    background-size: cover;
    max-width: 150px;
    max-height: 150px;
    font-size: 2rem;
}

.picked {
    display: flex;
    gap: 100px;
}

.picked-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.result, .score, .picked {
    font-size: 22px;
}
.result, .score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    background: rgb(15, 15, 15);
    padding: 20px 30px;
    justify-content: center;
}

/* Modal Stuff */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(65, 65, 65);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal button {
    background-color: #00ff2a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 15px;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: rgb(65, 65, 65);
}

.close-button:hover {
    background-color: black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}